<footer class="footer">
	<a href="#top" class="link">
		<div class="nav__icon--up">
			<img src="./assets/images/ico-arrow.svg" title="Go to top" alt="Icono footer" class="nav__icon--img up" />
		</div>
	</a>
	<div class="footer__container">
		<nav class="footer__nav">
			<ul class="footer__list footer__list--content">
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Articles"
						target="_blank"
						title="Go to Articles"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Books"
						target="_blank"
						title="Go to Books"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Events"
						target="_blank"
						title="Go to Events"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Reasons"
						target="_blank"
						title="Go to Reasons"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Tips"
						target="_blank"
						title="Go to Tips"
					></include>
				</li>
			</ul>
		</nav>
		<nav class="footer__nav">
			<ul class="footer__list footer__list--media">
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Twitter"
						target="_blank"
						title="Go to Twitter"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Instagram"
						target="_blank"
						title="Go to Instagram"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Mastodon.social"
						target="_blank"
						title="Go to Mastodon.social"
					></include>
				</li>
			</ul>
		</nav>
		<div class="footer__copyright copyright">
			<small class="footer__copyright--small"> &copy; 2021 </small>
			<small class="footer__copyright--small">we <span class="footer__copyright--icon">❤︎</span> components</small>
		</div>
	</div>
</footer>
