<footer class="footer">
	<a href="#top" class="link--internal">
		<div class="nav__icon--footer">
			<img src="./assets/images/ico-arrow.svg" alt="Icono footer" class="nav__icon--img up" />
		</div>
	</a>
	<div class="container--footer">
		<nav class="footer__nav">
			<ul class="footer__list footer__list--content">
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Articles"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Books"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Events"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Reasons"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Tips"
						target="_blank"
					></include>
				</li>
			</ul>
		</nav>
		<nav class="footer__nav">
			<ul class="footer__list footer__list--media">
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Twitter"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Instagram"
						target="_blank"
					></include>
				</li>
				<li class="footer__list--item">
					<include
						src="./link.html"
						url="https://adalab.es/"
						aClass="footer__list--link"
						text="Mastodon.social"
						target="_blank"
					></include>
				</li>
			</ul>
		</nav>
		<div class="container__copyright copyright">
			<small class="copyright__small"> &copy; 2021 </small>
			<small class="copyright__small">we <span class="copyright__small--icon">❤︎</span> components</small>
		</div>
	</div>
</footer>
