//Flex
@mixin flex-absoluteCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Fonts
@mixin robotoRegular {
    font-family: $font-text;
    font-weight: 400;
    @content;    
}
@mixin robotoMedium {
    font-family: $font-text;
    font-weight: normal;
    @content;    
}
@mixin robotoBold {
    font-family: $font-title;
    font-weight: 600;
    @content;
}
@mixin articleText {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

//Mediaqueries
@mixin mediaTablet {
    @media all and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin mediaDesktop {
    @media all and (min-width: 1200px) {
      @content;
    }
  }