// fonts
$font-title: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;

// brand colors
$white: #ffffff;
$black: black;

// cover image palette colors
$pale-pink: #a68095;
$dark-blue: #011140;
$pale-blue: #7f84a6;
$light-blue: #95a8bc;
$broken-white: #f2f2f2;
$marron: #400d01;
$dark-grey: #0d0d0d;

// page colors
$color-bg: $white;
$color-bg-2: $broken-white;
$color-text: $dark-blue;
$color-text-2: $marron;
$deco-brand: $dark-blue;
$light-brand: $light-blue;
$color-brand: $pale-pink;
$dark-brand: $pale-blue;

// transitions
$trans-bt: 0.8s ease;
