// fonts
$font-title: "Roboto Slab", sans-serif;
$font-text: "Roboto", sans-serif;

// brand colors
$white: #ffffff;
$black: black;
$grey: #4a4a4a;
$orange: #f26002;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-blue: #304268;

//page colors
$color-bg: $white;
$icons-brand: $orange;
$light-brand: $light-blue;
$color-brand: $blue;
$dark-brand: $dark-blue;

//mediaqueries
$tablet: 768px;
$desktop: 1200px;
