.nav__icon--footer {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: $color-bg;
	margin-bottom: 53px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%); //translate (x, y) x=0, y=0 es de donde se parte.
}
.container {
	&--footer {
		margin: 0 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include mediaTablet {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			margin: 0 40px;		
		}
		@include mediaDesktop {
			margin: 0 370px;
		}
    }
    &__copyright {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
		text-align: center;
		@include mediaTablet {
			margin-top: 45px;
			order: -1;
		}
    }
}
.copyright {    
    &__small {
        font-size: 14px;
        line-height: 30px;
        &--icon {
            color: $icons-brand;
        }
    }
}
.footer {
	background-color: $dark-brand;
	color: $color-bg;
	@include robotoMedium {
		font-size: 16px;
		line-height: 30px;
	}
	&__list {
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&--content {
			padding-top: 60px;
			@include mediaTablet {
				padding-top: 0;	
				margin-top: 45px;
				margin-bottom: 45px;			
				align-items: flex-start;
			}
		}
		&--media {
			padding-top: 45px;
			@include mediaTablet {
				padding-top: 0;	
				margin-top: 45px;			
				align-items: flex-start;
			}
		}
	}
}
