.header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 100vh;
	background: url("../images/cover.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	&__nav {
		width: 44px;
		height: 44px;
		background-color: $color-brand;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		@include flexCenter;
	}
	&__img {
		transition: transform $trans-bt;
		&:hover {
			transform: rotate(360deg);
		}
	}
	&__title {
		color: $color-bg;
		margin-bottom: 10px;
		@include mediaTablet {
			margin-bottom: 20px;
		}
		@include mediaDesktop {
			margin-bottom: 0px;
		}
		@include robotoBold {
			@include sizeHeight(42px, 55px);
			text-transform: uppercase;
			text-align: center;
			@include mediaTablet {
				@include sizeHeight(80px, 106px);
			}
			@include mediaDesktop {
				@include sizeHeight(100px, 132px);
			}
		}
		&--span {
			display: block;
		}
	}
	&__subtitle {
		@include robotoRegular {
			font-size: 16px;
        }
		color: $color-bg;
        margin-bottom: 45px;
        @include mediaTablet {
            font-size: 24px;
            margin-bottom: 30px;
        }
	}
}
.nav__icon {
	width: 45px;
	height: 45px;
	@include flexCenter;
	border-radius: 50%;
	background-color: $color-bg;
	margin-bottom: 53px;
	@include mediaTablet {
		margin-bottom: 45px;
	}
	@include mediaDesktop {
		margin-bottom: 13px;
	}
}
.--down {
	animation: down 0.8s 6;
	&:hover {
		animation: downHover 0.8s 3;
	}
}
@keyframes down {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(15px);
	}
}
@keyframes downHover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(15px);
	}
}