.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100vh;
    background: url("../images/cover.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    &__nav {
        width: 44px;
        height: 44px;
        background-color: $color-brand;
        position: fixed;
        top: 0;
        left: 0;
        &--img {
            display: block;
            margin: 14px auto;
        }
    }
    &__title {
        @include robotoBold{
            font-size: 42px;
            line-height: 55px;
        }        
        text-transform: uppercase;
        text-align: center;
        color: $color-bg;
        margin-bottom: 10px;
        &--span {
            display: block;            
        }
    }
    &__subtitle {
        @include robotoRegular {
            font-size: 16px;
        }
        color: $color-bg;
        margin-bottom: 45px;
    }
}
.nav__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-bg;
    margin-bottom: 53px;
    display: flex;
    justify-content: center;
}
